@import url('https://fonts.google.com/specimen/Outfit');

html {
    height: 100%;
}
 
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
}

p {
    font-size: 15px;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid white;
    box-shadow: 12px 7px 20px 6px rgb(57 75 84 / 8%);
    border-radius: 10px;
    height: 55vh;
    width: 20vw;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}